:root {
   text-align: center;
   font-family: Fb Elastica;
   font-size: 2.2em;
   direction: rtl;
   line-height: 3em;

}

#button-level {
   /* z-index: 6; */
   position: absolute;
   transform: translate(1em, 8em);
   scale: 1.2;
}

h2 {
   margin: 0;
}

body {
   margin: 0;
   /* position: absolute; */
}

.footer {
   z-index: 6;
   bottom: 0;
   position: sticky;
   transform: translate(9%, -112%);

}

/* עיצוב כללי לכפתורים */
button {
   background-color: rgb(255, 255, 255);
   color: black;
   border: 2px solid rgb(95, 63, 0);
   padding: 1em 2em;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1.2em;
   cursor: pointer;
   border-radius: 5px;
   /* עיגול פינות */
   /* position: absolute; */
}

.main {
   height: 100vh;
   width: 100vw;
   background-image: url(images/background.png);
   background-size: cover;
   background-attachment: fixed;
}

#app {
   max-width: 800px;
}

#winner {
   position: static;
   margin-top: -5em;
}

.start_again {
   display: flex;
   justify-content: center;

}